extends layout
 
block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Comment
          div.account-wall
            img(class='profile-img', src='')
            form(class='form-signin', action='/comments/content', method='POST')
              input(type='text', name='comment' class='form-control', placeholder='comment', autofocus, value = comment)
              button(class='btn btn-lg btn-primary btn-block', type='submit') ADD
              span.clearfix
          a(href='/dashboard', class='text-center new-account') back
          #message
          if message
            h1.text-center.error-message #{message}