extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.name}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username    ---> #{user.username}
						a(href='/users/logout', class='text-center new-account') Sign Out
						div ----------------------
						a(href='/users/change-password', class='text-center new-account') ChangePassword
						div
						a(href='/comments/content', class='text-center new-account') ADD Comment
						div
						a(href='/comments/update', class='text-center new-account') Edit Comment
						div
						a(href='/page/add', class='text-center new-account') ADD Page
						div
						a(href='/page/update', class='text-center new-account') EDIT Page