extends layout
 
block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title changes password
          div.account-wall
            img(class='profile-img', src='')
            form(class='form-signin', action='/users/change-password', method='POST')
              input(type='text', name='password' class='form-control', placeholder='password', autofocus)
              input(type='password', name='passwordNew' class='form-control', placeholder='Passwordnew')
              button(class='btn btn-lg btn-primary btn-block', type='submit') Save
              span.clearfix
          a(href='/dashboard', class='text-center new-account') back
          #message
          if message
            h1.text-center.error-message #{message}