extends layout
 
block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Comment
          div.account-wall
            img(class='profile-img', src='')
            form(class='form-signin', action='/page/update?_method=PUT', method="POST")
              input(type='text', name='pagename', class='form-control', placeholder='pagename', autofocus, value= pagename)
              input(type='text', name='accesstoken', class='form-control', placeholder='accesstoken', autofocus, value= accesstoken)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Save
              span.clearfix
          a(href='/dashboard', class='text-center new-account') back
          #message
          if message
            h1.text-center.error-message #{message}